<app-loading [isLoading]="isLoading"></app-loading>

<div class="chart-page">
  <div class="page-header">
    <div class="filter-container">
      <!-- Inputs de data diretamente no HTML -->
      <div class="cc-filter">

      </div>
      <div class="date-filter">
        Filtro de data
        <input type="text" [value]="startDateInput" (input)="onStartDateInput($event)" placeholder="Data Início"
          maxlength="10" pattern="\d{2}/\d{2}/\d{4}" title="Digite a data no formato DD/MM/YYYY">
        <input type="text" [value]="endDateInput" (input)="onEndDateInput($event)" placeholder="Data Fim" maxlength="10"
          pattern="\d{2}/\d{2}/\d{4}" title="Digite a data no formato DD/MM/YYYY">
        <button (click)="applyFilter()">Gerar Gráficos</button>
      </div>
    </div>
  </div>

  <div class="kanban-overview">
    <div class="kanban-board">
      <!-- 🔹 Criando os botões dinamicamente -->
      <button 
        *ngFor="let status of kanbanStatus" 
        class="kanban-column" 
        (click)="abrirModal(status.nome)">
        <h3>{{ status.emoji }} {{ status.nome }}</h3>
        <p>{{ status.quantidade }}</p>
      </button>
    </div>
  </div>

  <div class="page-body">
    <section>
      <!-- Gráficos -->
      <div class="charts-section">


        <div class="chart-container">
          <p class="chart-title">Processos por dia</p>
          <div echarts [options]="chartBarSumary" class="charts-bar" (chartInit)="onChartInit($event, 'barSumary')">
          </div>
        </div>



      </div>
    </section>
  </div>
  <div class="page-footer">
    <!-- Rodapé -->
  </div>
</div>