.layout {
  display: flex;
  height: 100%;
  background-color: #FFF;

  app-sidebar-menu {
    width: 240px;
    flex-shrink: 0;
    background-color: #FFF;
    transition: width 0.3s ease;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;

    &.collapsed {
      margin-left: 0;
    }

    &.expanded {
      margin-left: 240px;
    }

    app-top-menu {
      background-color: #FFF;
      height: 90px;
      border-left: solid 1px #F7F8F9;
    }

    .content {
      flex-grow: 1;
      padding: 2rem;
      background-color: #F7F8F9;
    }
  }
}
